.gpt3__article {
  display: flex;
  flex-direction: column;
}
.gpt3__article-image {
  width: 100%;
}
.gpt3__article-image img {
  max-width: 100%;
  min-height: 130px;
}
.gpt3__article-content {
  background: #042c54;
  max-width: 327px;
  padding: 30px 17px 13px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
}
.gpt3__article-content__heading {
  display: flex;
  flex-direction: column;
  color: #fff;
}
.gpt3__article-content__heading p {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 11.649px;
  line-height: 35px;
}
.gpt3__article-content__heading h3 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 19.3154px;
  line-height: 30px;
}
.gpt3__article-content__text {
  color: #fff;
}
.gpt3__article-content__text p {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 11.649px;
  line-height: 35px;
  cursor: pointer;
}

@media screen and (max-width: 1050px) {
  .gpt3__article-content__heading h3 {
    font-size: 16px;
    line-height: 25px;
  }
  .gpt3__article-content {
    padding: 1rem;
  }
}
@media screen and (max-width: 850px) {

}

